package remote

import "github.com/philipp-mlr/al-id-maestro/website/component/layout"

templ Show(currPage map[string]bool) {
	@layout.Base(currPage, "AL ID Maestro - Remotes") {
		<h1>Remote</h1>
	}
}
