repositories:
  - name: repo-1
    url: https://github.com/myorg/cool-repo
    authToken: ghp_ABC123
    remoteName: origin
    excludeBranches:
      - release/
  - name: repo-2
    url: https://github.com/myuser/awesome-apps
    authToken: ghp_ABC123
    remoteName: origin
    excludeBranches:
      - release/
idRanges:
  - objectType: Table
    from: 50000
    to:   99999
  - objectType: TableExtension
    from: 50000
    to:   99999
  - objectType: Page
    from: 50000
    to:   99999
  - objectType: PageExtension
    from: 50000
    to:   99999
  - objectType: Report
    from: 50000
    to:   99999
  - objectType: ReportExtension
    from: 50000
    to:   99999
  - objectType: Enum
    from: 50000
    to:   99999
  - objectType: EnumExtension
    from: 50000
    to:   99999
  - objectType: PermissionSet
    from: 50000
    to:   99999
  - objectType: PermissionSetExtension
    from: 50000
    to:   99999
  - objectType: Codeunit
    from: 50000
    to:   99999
  - objectType: Query
    from: 50000
    to:   99999
  - objectType: XMLPort
    from: 50000
    to:   99999
  - objectType: MenuSuite
    from: 50000
    to:   99999


